@import "tailwindcss";

:root {
  --background: #f6f2f2;
  --foreground: #121212;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:  var(--font-lexend), Arial, Helvetica, sans-serif;
}

.button {
  @apply mt-2 px-4 py-2 bg-[#97fb57] text-[#121212] rounded-lg  hover:bg-[#83d84d];
}

.header {
  @apply text-2xl font-bold text-center mb-4;
}

.top-left-div{
  @apply absolute top-5 left-5 z-10
}
.three-main-div{
  width:100vw;
  height:100vh;
}

.three-canvas{
  background: #000;
}


.model-list-container {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 100;
}
.model-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 1rem;
}